variable "images_windows" {
	default = {
		description = "Windows_Server-2016-Japanese-Full-Base-2017.12.13"
		ap-northeast-1 = "ami-5d7af73b"
	}
}
variable "images_linux" {
	default = {
		description = "Amazon Linux 2 LTS Candidate AMI 2017.12.0 (HVM), SSD Volume Type"
		ap-northeast-1 = "ami-2a34b64c"
	}
}

variable "myIP" {
	description = "Your IPAddress. (ex) 8.8.8.8/32"
  default = {
		ipv4 = "[[自分のグローバルIPアドレス]]"
		#ipv6 = "[[自分のグローバルIPアドレス(ipv6)]]"
	}
}

variable "windows_admin_password" {
  description = "Windows Administrator password to login as."
  default = "[[パスワード]]!"
}

variable "windows_hostname" {
	description = "Windows Hostname."
  default = {
		ad01 = "ad01"
		ad02 = "ad02"
		client01 = "client01"
	}
}
